<%- include("partials/header.ejs") %>


<div class="container mt-5">
  <h1 class="text-center">About Me</h1>
  <div class="row justify-content-center my-4">
    <div class="col-md-4 text-center">
      <img class="profile img-fluid" src="./images/wilson.jpg" alt="Wilson's Profile Picture">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <p class="text-justify">
        "Experienced Web Developer, Digital Marketer, and Educator specializing in custom websites, 
        SEO-driven digital marketing, and online course development. With expertise in course design and
         virtual assistance, I help businesses and individuals enhance their online presence and drive digital growth."
      </p>
     
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
